[submodule "RapGeniusScrapper"]
	path = RapGeniusScrapper
	url = https://github.com/Owe1n/RapGeniusScrapper
[submodule "BillboardScrapper"]
	path = BillboardScrapper
	url = https://github.com/Owe1n/BillboardScrapper
[submodule "GloVe"]
	path = GloVe
	url = https://github.com/Owe1n/GloVe
